/* the * indicates universal styles, we will get into that later in the semester
for now, you can leave these alone */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css is how we add all things style, below there are two simple styles added
go ahead and play with these, can you get the colors to change? What do you notice?
 */

body {

    color: #000000;
    background: linear-gradient(to right, #006847, #ffffff, #ce1126);
    /* I got this background from an assignmeent I previously did where we created portfolios. It's a linear gradient using the mexican flag colors. It's a feature that also represents who I am and having it as my background is a way to keep that in mind when peering into my work. */
}

